/* Tailwind */
@import 'tailwindcss';
@plugin "@junipero/tailwind-plugin";
@custom-variant dark (&:where(.dark, .dark *));

/* Junipero */
@import '@junipero/theme/dist/css/reset.min.css';
@import '@junipero/theme/dist/css/reset.dark.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.dark.min.css';

/* Radix */
@import '@radix-ui/themes/styles.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

@utility app-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

@utility app-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

@utility container {
  max-width: 1000px;
  margin: auto;
}

@utility pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@utility editable {
  &::-webkit-scrollbar {
    display: none;
  }
}
