/* Tailwind */
@import 'tailwindcss';
@plugin "@junipero/tailwind-plugin";
@custom-variant dark (&:where(.dark, .dark *));

/* Junipero */
@import '@junipero/theme/dist/css/reset.min.css';
@import '@junipero/theme/dist/css/reset.dark.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.dark.min.css';

/* Radix */
@import '@radix-ui/themes/styles.css';

/* Theme */
@theme {
  --color-porcelain: #EFF2EC;
  --color-lipstick-red: #EF2445;
  --color-gunmetal: #3C3C3C;

  --font-chakra: "Chakra Petch", sans-serif;
}

/* Fonts */
@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@utility app-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

@utility app-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

@utility container {
  max-width: 1000px;
  margin: auto;
}

@utility pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@utility editable {
  &::-webkit-scrollbar {
    display: none;
  }
}
